:root{
    --background: #fff;
    --text-color: #000;
    --border: 1px solid hsl(0, 0%, 80%);
    --box-shadow: 3px 3px 5px rgb(196, 193, 193);
}

[data-theme = "light"]{
    --background: #000;
    --text-color: #fff;
    --border: 1px solid hsl(0, 0%, 80%);
    --box-shadow: 3px 3px 5px rgb(196, 193, 193);
}

.LightDarkModeDiv{
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.LightDarkModeDiv .container{
    width: 50%;
    padding: 20px 20px;
    background-color: var(--background);
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.LightDarkModeDiv .container p{
    color: var(--text-color);
}

.LightDarkModeDiv .container button{
    background-color: var(--text-color);
    color: var(--background);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}